* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
.banner {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.banner img {
    width: 100%;
    max-height: 300px; /* Altura máxima del banner */
    object-fit: cover; /* Recorta la imagen proporcionalmente */
}


header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.admin-authentication {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-authentication label {
    display: block;
    margin-bottom: 8px;
}

.admin-authentication input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-authentication button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-authentication button:hover {
    background-color: #45a049;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.profile-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 250px;
    padding: 20px;
    text-align: center;
}

.profile-card img {
    width: 100%;
    border-radius: 50%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-card .profile-info p {
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
